# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\priyo\Dropbox\Kshitij Priyoma Ritwik\oTreeSocialRecognition\baseline\NPT\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
